<%= link_to "Courses", :courses %>
<%= link_to "New course", new_course_path %>
<%= link_to "Profile", :profile %>

<div id="courses">
  <h2>Курсы на которых я преподаю</h2>
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this course", course %>
      <%= link_to "Edit this course", edit_course_path(course) %>
      <%= link_to "Remove this course", controller: "courses", action: "remove", id: course.id %>
    </p>
  <% end %>
</div>
